/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap'); */
/* @import url("https://fonts.googleapis.com/css?family=Asap|Open+Sans"); */

p.title {
	/* font-family: "Asap", serif !important;
	/* font-family: 'IBM Plex Sans', sans-serif !important; */
	/* color: #42e1f0 !important; */
    /* color: #5B3456 !important; */
	color: #43A1C9 !important;    
        text-shadow: none !important;
	font-size: 2.35em !important;
	font-weight: normal;
}

p.subtitle {
	/*color: #43A1C9 !important;*/
	font-size: 1em !important;
	font-weight: normal !important;
}

h1 {
	/* font-family: "Asap", serif !important;
	/* font-family: 'IBM Plex Sans', sans-serif !important; */
	/* color: #42e1f0 !important; */
	/* color: #5B3456 !important; */
        text-shadow: none !important;
	font-size: 1.35em !important;
	font-weight: normal;
}

h2 {
    font-size: 1.2em !important;
    text-shadow: none !important;
    font-weight: 300;
    
}

h3 {
    font-size: 1.1em !important;
            text-shadow: none !important;
}

/* main#.quarto-document-content{ */
/*     width: 1200px */
/* } */

/* .main-container { */
/*   max-width: 120%; */
/*   margin-left: 0px; */
/*   margin-right: 0px; */
/* } */

/* div#quarto-margin-sidebar.sidebar.margin-sidebar { */

/*     margin-left: -65em */
/* } */

/* .quarto-title-banner { */
/*     /\* margin-bottom: 1em; *\/ */
/*     /\* color: #fdfeff; *\/ */
/*     background-color: #FFFFFF !important; */
/*     background-position: top 54px left 20px !important; */
/*     background-repeat: no-repeat !important; */
/*     background-size: 100px !important; */
/* 	margin-bottom: 0em; */
/* 	padding-bottom: 1em; */

/* /\*    background-image: url('images/dragonfly-wings.svg');*\/ */
/*     /\* background-position: left; *\/ */
/*     background-size: auto 100px; */
/*     /\* background-color: #171F21; *\/ */
/*     /\* background-repeat: no-repeat; *\/ */
	
/* } */

/* /\* /\\* .quarto-title-meta { *\\/ *\/ */
/* /\* /\\* 	background-image: images/dragonfly-logo-rgb.svg !important *\\/ *\/ */
/* /\* /\\*     background-position: bottom !important; *\\/ *\/ */
/* /\* /\\*     background-repeat: no-repeat !important; *\\/ *\/ */
/* /\* /\\*     background-size: 200px !important; *\\/ *\/ */
/* /\* /\\* } *\\/ *\/ */

/* /\* .border { *\/ */
/* /\*   border: 1px solid #dee2e6; *\/ */
/* /\* } *\/ */

/* /\* .border-thick { *\/ */
/* /\*   border-width: 3px; *\/ */
/* /\* } *\/ */

/* /\* a { *\/ */
/* /\*     color: #50AD85; *\/ */
/* /\* } *\/ */
/* /\* a.active { *\/ */
/* /\*     color: #5B3456 !important; *\/ */
/* /\* } *\/ */
/* /\* a:hover { *\/ */
/* /\*     color: #43A1C9 !important; *\/ */
/* /\* } *\/ */

/* /\* #quarto-content nav ul>li>a.active { *\/ */
/* /\* 	border-left: 1px solid #50AD85 !important; *\/ */
/* /\* 	color: #50AD85 !important; *\/ */
/* /\* 	font-weight: bold !important; *\/ */
/* /\* } *\/ */

/* /\* code { *\/ */
/* /\* 	/\\* color: #EB7A59 !important; *\\/ *\/ */
/* /\* 	color: #565659 !important; *\/ */
/* /\* 	font-size: 0.8em !important; *\/ */
/* /\* } *\/ */



/* /\* verysmall,.verysmall { *\/ */
/* /\*     font-size: 0.7em *\/ */
/* /\* } *\/ */

/* /\* div.callout-note.callout { *\/ */
/* /\*     border-left-color: #50AD85; *\/ */
/* /\* } *\/ */

/* /\* .panel-caption, .figure-caption, figcaption { *\/ */
/* /\*     text-align: center !important; *\/ */
/* /\* 	margin-top: 0em; *\/ */
/* /\* 	padding-top: 0em; *\/ */
/* /\* } *\/ */
